.header {
    background-color: #3c3c3c;
    color: white;
    padding: 15px;
    font-size: x-large;
}

.header a {
    color: white;
}

.header a:hover {
    color: white;
    text-decoration: none;
}