<div id="navigation-container">
    <ul class="nav nav-pills">
        <li role="presentation" class="navigation-link"><a href="/home">Home</a></li>
        <li role="presentation" class="navigation-link"><a href="/reports">Reports</a></li>
        <li role="presentation" class="navigation-link"><a href="/transactions">Transactions</a></li>
        <li role="presentation" class="navigation-link"><a href="/categories">Category editor</a></li>
        <li role="presentation" class="navigation-link"><a href="/stores">Store editor</a></li>
    </ul>
</div>
<router-outlet></router-outlet>