<div class="container">
    <div id="log"></div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">
                Categories (<span *ngIf="categories" id="categories-count">{{categories.length}}</span>)
            </h3>
            <button class="btn btn-sm btn-primary pull-right" (click)="openCreateDialog()">+</button>
        </div>
        <div class="panel-body">
            <!--<div class="category-delete-empty btn btn-danger">Delete all empty categories</div>-->
            <ul *ngFor="let category of categories" class="list-group" id="categories">
                <li class="category-row list-group-item">
                    <div class="category-controls pull-right">
                        <i class="category-rename fa fa-pencil" (click)="openEditDialog(category)"></i>&nbsp;
                        <i class="category-union fa fa-link" (click)="openUnionDialog(unionModal)"></i>&nbsp;
                        <i *ngIf="category.stores.length == 0" class="category-delete fa fa-trash text-danger"
                           (click)="openDeleteDialog(category)"></i>&nbsp;
                    </div>
                    <h4 class="list-group-item-heading">{{category.name}}</h4>
                    <div class="list-group-item-text collapse-group">
                        <a *ngIf="category.stores.length > 0" class="show-stores" href="#">Show stores &raquo;</a>
                        <div class="collapse stores">
                            <span *ngFor="let store of category.stores">
                                <span class="category-store"> <!-- store="{{store}}" -->
                                    {{store}}&nbsp;&nbsp;
                                    <span class="category-store-controls">
                                        <i class="store-change-category fa fa-chain-broken"></i>
                                    </span>
                                </span>
                                <br/>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- modal dialogs -->
    <!-- create -->
    <div class="modal fade category-create-modal" tabindex="-1" role="dialog"
         aria-labelledby="categoryRenameModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="categoryCreateModalLabel">Create category</h4>
                </div>
                <div class="alerts"></div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-addon">Name</div>
                        <input #createCategoryName type="text" class="form-control category-create-name"
                               placeholder="Name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success category-create-apply"
                            (click)="createCategory(createCategoryName.value); createCategoryName.value = ''">
                        Create
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- rename -->
    <div class="modal fade category-edit-modal" tabindex="-1" role="dialog"
         aria-labelledby="categoryRenameModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="categoryRenameModalLabel">Enter category name</h4>
                </div>
                <div class="alerts"></div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-addon">Name</div>
                        <input #editCategoryName type="text" class="form-control category-edit-name" placeholder="Name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success category-edit-apply"
                            (click)="edit(editCategoryName.value)">
                        Rename
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- union -->
    <category-union-modal #unionModal></category-union-modal>
    <!-- delete -->
    <div class="modal fade category-delete-modal" tabindex="-1" role="dialog"
         aria-labelledby="categoryDeleteModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="categoryDeleteModalLabel">Delete category?</h4>
                </div>
                <div class="alerts"></div>
                <div class="modal-body">
                    Do you really want to delete category <span class="category-delete-name"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger category-delete-apply" (click)="delete()">Delete
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- store change category -->
    <div class="modal fade store-change-category-modal" tabindex="-1" role="dialog"
         aria-labelledby="storeChangeCategoryModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="storeChangeCategoryModalLabel">Select new category</h4>
                </div>
                <div class="alerts"></div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success store-change-category-apply">Change</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>