<div class="panel panel-default">
    <div class="panel-heading ">
        <h4 *ngIf="report">
            Expense report for period from <span id="period-from">{{report.from}}</span> to <span id="period-to">{{report.to}}</span>
            (<span id="accounts">{{report.accounts}}</span>)
        </h4>
    </div>
    <div class="panel-body">
        <div id="chart"></div>
        <div id="report" class="panel panel-default" *ngIf="report">
            <script language="JavaScript">
                $(document).ready(function () {
                    $('.category-line').click(function () {
                        $(this).find('.category-transactions').toggle();
                    })
                })
            </script>
            <div class="panel-heading">
                <h4>Detailed info</h4>
            </div>
            <div class="panel-body">
                <div *ngFor="let cReport of report.categoryReports" id="detailed-info" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="heading-{{cReport.id}}">
                            <h6 class="panel-title">
                                <a name="link-{{cReport.id}}" data-toggle="collapse" href="#collapse-{{cReport.id}}">
                                    {{cReport.category}} - {{cReport.amount}} ({{cReport.percentage}}%)
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-{{cReport.id}}" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li *ngFor="let transaction of cReport.transactions" class="list-group-item">
                                    <span>{{transaction.date}}</span>&nbsp;
                                    <span>{{transaction.store}}</span>
                                    <span style="float: right">{{transaction.amount}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h5>Total: {{report.total}}</h5>
            </div>
        </div>
    </div>
</div>