<div *ngIf="allTransactions != null" id="duplicates-container">
    <button id="deduplicate" class="btn btn-primary" (click)="deduplicateTransactions()">Remove duplicates</button>
    <button id="deduplicate-close" class="btn btn-danger" (click)="clear()">Close</button>
    <div id="duplicates-list">
        <li *ngFor="let transaction of allTransactions" class="list-group-item transaction">
            <!--<button type="button" class="close remove-transaction" aria-label="Close"><span aria-hidden="true">&times;</span>-->
            <!--</button>-->
            <span>{{transaction.date}}</span>&nbsp;
            <span>{{transaction.store}}</span>
            <span style="float: right">{{transaction.amount}}</span>
        </li>
    </div>
</div>